
<%= simple_form_for [@journal, @entry] do |m| %>
  <%= m.input :goal, :class => "form-textfield" %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, :class => "form-textfield" %>
  <% end %>
  <%= m.submit "Create", :class => "form-submit"%>
<% end %>


<% @entries.each do |entry| %>
<div class="entries-card">
<h3 style="font-weight:800; text-transform:uppercase;"><%= entry.goal %></h3>
<div class="entries-card-milestones">
<h4> <%= entry.milestones.first.title %></h4>
<h4><%= entry.milestones.last.title %></h4>
  </div>
</div>
<% end %>

<div class="button-large-red" style="text-align:center;">
<%= link_to "Start your Pomodoro journey!", Pomodoro.first %>
</div>
