<h2><%= @journal.title.capitalize %></h2>
<%= simple_form_for [@journal, @entry] do |m| %>
  <%= m.input :goal  %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title, :class => "form-textfield" %>
  <% end %>
  <%= m.submit "Create", :class => "form-submit"%>
<% end %>


<% @entries.each do |entry| %>
<div class="entries-card">
<h3 style="font-weight:800; text-transform:uppercase;"><%= entry.goal %></h3>
<div class="entries-card-milestones">
  <% entry.milestones.each do |milestone| %>
<h4 style=";"> <%= milestone.title %></h4>
<% end %>

  </div>
  </div>
<% end %>
<div class="button-large-blue" style="text-align:center;">
<%= link_to "Start Your Pomodoro Journey!", Pomodoro.first %>
</div>
