<h1>Entries#index</h1>
<p>Find me in app/views/entries/index.html.erb</p>


<%= simple_form_for [@journal, @entry] do |m| %>
  <%= m.input :goal %>
  <%= m.simple_fields_for :milestones do |p| %>
    <%= p.input :title %>
  <% end %>
  <%= m.submit %>
<% end %>

<% @entries.each do |entry| %>
<p>entry title: <%= entry.goal %></p>
<p> entry milestone: <%= entry.milestones.first.title %></p>
<p>entry milestone: <%= entry.milestones.last.title %></p>
<% end %>

<div class="button-large-red" style="text-align:center;">
<%= link_to "Start your Pomodoro journey!", Pomodoro.first %>
</div>
